body{
    font-family: sans-serif;
    font-size: small;
}
table{
    border-collapse: true;
    border-width: 10px;
    border-color: black;
    background-color: rgb(200,200,200);
}
td{
    color: rgb(110,110,110);
    background-color: white;
    border-width:1px;
    border-color:rgb(200,200,200);
    border-style: solid;
    padding: 5px;
    width: 300px;
    font-size: normal;
    text-align:center;
}

a{
    text-decoration:none;
    color:black;
}
a:hover{text-decoration: underline;}

.photo{
    float:right;

}
.info{
    padding-top: 20px;
    text-align:left;

}
